@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our website</h1>
    <p>The foremost authority for good humor that you will find anywhere on your local host</a>.</p>

    <img src="~/Pictures/design-jokes-01-min.png" style="width:1000px;height:700px;" />

</div>
